astro_datalab==2.20.1
astropy==5.2.2
astroquery==0.4.7
beautifulsoup4==4.11.1
matplotlib==3.5.0
numpy==1.22.0
opencv_python==4.7.0.72
pandas==1.5.3
PySimpleGUI==4.60.5
pyvo==1.4
Requests==2.32.3
numpy==1.22.0
